<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.wudi.school.control.collegeManage.dao.CollegeMapper">
	
	<select id="getCollegeList"  resultType="java.util.Map">
		SELECT id,college_name,college_text from college
	</select>
	
	
	<select id="getCollegeById" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT id,college_name,college_text from college where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="getTuitionList"  resultType="java.util.Map">
		select c.college_name,t.tu_id,t.tu_major,
			t.tu_price1,t.tu_price2,t.tu_price3,t.tu_price4 
		from tuition t 
		LEFT JOIN college c 
		ON t.coll_id = c.id
	</select>
	
	
	</mapper>